.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
implementation_plans/*
.nanobot/*
tasks/*
test_alarm.py
test_nvidia.py
bandit_results.json
alarme_telegram.py
.venv/
__pycache__/
poetry.lock
.pytest_cache/
